
  
  .login-container {
    display: flex;
    height: 100vh;
  }
  
  .side-image{
    flex: 1;
    padding-left: 2%;
    background: url('https://img.freepik.com/free-vector/colorful-international-yoga-day-meditation-poster-design_1017-38710.jpg?w=740&t=st=1707905870~exp=1707906470~hmac=c1d8e52ce13c51cdce626071c7c2412fb68b8408de25d745949bf97a1b99058b');
    background-size: cover;
    height: 100%;
  }
  
  .login-form {
    flex: 1;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #ffffff;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000; /* Dark grayish blue */
  }
  
  h2 {
    margin-bottom: 20px;
    color: #544901; /* Blue */
  }
  
  form {
    width: 100%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; /* Dark gray */
  }
  
  input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #ecf0f1; /* Light gray */
    border: 1px solid #bdc3c7; /* Lighter gray */
    border-radius: 5px;
    color: #333; /* Dark gray */
  }
  
  .sc1 {
    width: 100%;
    padding: 15px;
    background-color: #756c05;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
 
  
  .social-login {
    margin-top: 20px;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    padding-left: 80px;
  }
  .sign-in-message {
    margin-top: 10px;
    color: #555;
    font-size: 15px;
  }
  .social-icons button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 100px;
  }
  .error-message {
    color: #ff1307; /* Yellow color */
    font-size: 14px;
    margin-top: 5px;
  }
  .social-icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: 50%;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  @media only screen and (max-width: 600px) {
    .login-form {
      max-width: 100%;
    }
  }