/* View.css */

.viewback {
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh;
    padding-top: 10%;
    background-image: url(https://img.freepik.com/free-vector/powder-pastel-with-hand-drawn-elements-background_52683-40818.jpg?w=1060&t=st=1707842694~exp=1707843294~hmac=4277f1ffa249cfd6daee390f34c35ab0bb99ac550b7f28afe6e1ef062ed1132a);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow-y: auto; /* Allow vertical scrolling */
  }
 
  .views {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  #view {
    padding: 20px;
  }
  
  .admintable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .admintable th,
  .admintable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .admintable th {
    background-color: #638ab0;
    color: #fff;
  }
  
  .admintable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .admintable tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .h2ad {
    color: #7d7c7c;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }